<!DOCTYPE html>
<html lang="en" style="background-color: #ffbdc9">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="" id="navbar" style="background-color: #67b9bc">
            {% if not request.user.is_authenticated %}
                <a class="item right labeled icon" id="login" href={% url 'log_in_page' %}>
                    <i class="sign-in icon"></i>
                    Login
                </a>
                <a class="item right labeled icon" id="register" href={% url 'register_page' %}>
                    Register
                </a>
{#                    <i></i>#}
            {% else %}
                <a class="item" id="logout" href={% url 'log_out_page' %}>Log Out</a>
                <a class="item" id="profile" href={% url 'profile_page' %}>Profile</a>
                <a class="item" id="panel" href="{% url 'panel_page' %}">Panel</a>
            {% endif %}
            <a class="header item" id="homepage" href={% url 'home_page' %}>Home Page</a>
            <a class="item" id="contact_us" href={% url 'contact_us' %}>Contact Us</a>
        </div>
        <div>
            {% block main_text %}{% endblock %}
            {% block signupPage %}{% endblock %}
            {% block loginPage %}{% endblock %}
            {% block contact_us %}{% endblock %}
            {% block profile %}{% endblock %}
            {% block panel %}{% endblock %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</html>