<!DOCTYPE html>
<html lang="en" style="background-color: #ffbdc9">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="navbar" style="background-color: #67b9bc">
            {% if not request.user.is_authenticated %}
                <a id="login" href={% url 'log_in_page' %}>Login</a>
                <a id="register" href={% url 'register_page' %}>Register</a>
            {% else %}
                <a id="logout" href={% url 'log_out_page' %}>Log Out</a>
                <a id="profile" href={% url 'profile_page' %}>Profile</a>
                <a id="panel" href="{% url 'panel_page' %}">Panel</a>
            {% endif %}
            <a id="homepage" href={% url 'home_page' %}>Home Page</a>
            <a id="contact_us" href={% url 'contact_us' %}>Contact Us</a>
        </div>
        <div>
            {% block main_text %}{% endblock %}
            {% block signupPage %}{% endblock %}
            {% block loginPage %}{% endblock %}
            {% block contact_us %}{% endblock %}
            {% block profile %}{% endblock %}
            {% block panel %}{% endblock %}
        </div>
    </body>
</html>