{%  extends 'base.html' %}

{% block contact_us %}
    <form class="ui form" id="contact_us_form" method="post" action="{% url 'contact_us' %}">
        {% csrf_token %}
        <input id="title" name="title" placeholder="title">
        <input id="email" name="email" placeholder="email">
        <textarea id="text" name="text" placeholder="text"></textarea>
        <button name="submit" type="submit" >Submit</button>
    </form>
    {% if success %}
        <div id="done">درخواست شما ثبت شد</div>
    {% endif %}
{% endblock %}
