{% extends 'base.html' %}

{% block panel %}
    <h2>all courses</h2>
    <div id="all_courses">
        {% for course in courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div>{{ course.department }}</div>
                <div>{{ course.first_day }} {{ course.second_day }}</div>
                <div>{{ course.start_time.hour }}:{{ course.start_time.minute }} {{ course.end_time.hour }}:{{ course.end_time.minute }}</div>
                <div>{{ course.teacher }}</div>
            </div>
        {% endfor %}
    </div>
    <form id="search_form" method="post" action="{% url 'courses' %}">
        {% csrf_token %}
        <input name="search_query">
        <button type="submit" name="submit">search by department</button>
    </form>
    <div id="search_result">
        {% for course in found_courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <h4>{{ course.name }}</h4>
                <div>{{ course.teacher }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}