{% extends 'base.html' %}

{% block loginPage %}
    <h2>Sign In</h2>
    <form id="login_form" method="post" action="{% url 'log_in_page' %}">
        {% csrf_token %}
        <label for="username"></label><input id="username" name="username" placeholder="username">
        <label for="password"></label><input type="password" id="password" name="password" placeholder="pass">
        <button name="submit" type="submit">Sign In</button>
    </form>
    {% if login_failed %}
        <div id="error">
            <p>login failed</p>
        </div>
    {% endif %}
{% endblock %}