{% extends 'base.html' %}

{% block panel %}
    <h2>add new course</h2>
    <form class="ui form" id="make_course" method="post" action="{% url 'new_course' %}">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

            </p>
        {% endfor %}
        {% comment %}<input id="department" name="department" placeholder="department">
        <input id="name" name="name" placeholder="name">
        <input id="course_number" name="course_number" placeholder="course_number">
        <input id="group_number" name="group_number" placeholder="group_number">
        <input id="teacher" name="teacher" placeholder="teacher">
        <input id="start_time" name="start_time" placeholder="start_time">
        <input id="end_time" name="end_time" placeholder="end_time">
        <select name="first_day">
            <option value="0">شنبه</option>
            <option value="1">یک‌شنبه</option>
            <option value="2">دوشنبه</option>
            <option value="3">سه‌شنبه</option>
            <option value="4">چهارشنبه</option>
        </select>
        <select name="second_day">
            <option value="0">شنبه</option>
            <option value="1">یک‌شنبه</option>
            <option value="2">دوشنبه</option>
            <option value="3">سه‌شنبه</option>
            <option value="4">چهارشنبه</option>
        </select>{% endcomment %}
        <button class="ui button inverted green" name="submit" type="submit">Make Course</button>
    </form>
    {% if login_failed %}
        <div id="error">
            <p>login failed</p>
        </div>
    {% endif %}
{% endblock %}